---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

const collection = await getCollection("posts");
const posts = collection
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((post) => post.data.draft !== true);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <ul class="flex flex-col gap-1.5">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/posts/${post.slug}`}
              class="group flex justify-between gap-3 pb-3"
            >
              <div>
                <div class="group-hover:underline">{post.data.title}</div>
                <div class="text-neutral-400">{post.data.description}</div>
              </div>
              <span class="text-nowrap text-zinc-500">
                {formatDate(post.data.date)}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
